{
  "extends": [
    "airbnb",
    "plugin:jasmine/recommended"
  ],
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.specs.*",
          "**/*.conf*",
        ]
      }
    ],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "env": {
    "jasmine": true
  }
}
